* {
    margin: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    color: white;
    font-family: sans-serif;
    background: #1f3577;
}

main{
    width: 100%;
    padding: 1rem;
}

.grid{
    display: grid;
    gap: 1rem;
    grid-auto-flow: dense;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 13rem), 1fr));
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0.4rem;
}

.card{
    display: flex;
    flex-direction: column;
    background-color: rgba(12, 170, 234, 0.6);
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.4rem;
    height: 100%;
}

.card-header-btn{
    color: white;
    cursor: pointer;
    text-decoration: none;
    padding: 6px 8px;
    border: 1px solid rgba(255, 255, 255, 0.5);
    transition: inherit;
    background-color: #1f3577;
}

.card-content{
    padding: 0.4rem;
    display: grid;
    gap: 0.5rem;
}

.card-content-row{
    display: flex;
    justify-content: space-between;
}

.card-content-label{
    font-weight: 600;
}